<link rel="stylesheet" type="text/css" href="/css/jass.css">
<link rel="stylesheet" href="/css/style.css">
<title>The Tech Blog</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a style="cursor: pointer;" id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="logo">
        <h1>The Tech Blog</h1>
    </div>
    <main>
        <form class="new-post-form" action="#" method="post">
            <input class="custom-input" type="title" placeholder="Title" id="title-post" required><br>
            {{!-- <input type="content" placeholder="Content" id="content-post" required> --}}
            <textarea class="custom-input" id="content-post" name="comment-text" rows="5" cols="90" 
            placeholder="What would you like to say?" required></textarea><br>
            <button id="upload-button" type="submit">Upload Post</button>
        </form>
    </main>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/newpost.js"></script>
</body>