
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="logo">
        <h1>The Tech Blog</h1>
    </div>
    <main>
        <h1>YOUR PROFILE IS HERE</h1>
        {{!-- <button id="logout">Log out here</button> --}}
    </main>
    <script src="./js/login.js"></script>
    <script src="./js/logout.js"></script>
</body>