
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cards.css">

</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
            <main>
            <div class="card">
                <h2>Sign-up</h2>
                <form class="signup-form" action="#" method="">
                    <input type="text" id="username-signup" placeholder="Username" required>
                    <input type="email" id="email-signup" placeholder="Email" required>
                    <input type="password" id="password-signup" placeholder="Password" required>
                    <button type="submit">Let's go!</button>
                </form>
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </main>
        <script src="/js/signup.js"></script>
</body>