root:: {
    --ucfLgold: #FFC904;
    --ucfDgold: #BA9B37;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-image: url(../images/keyboard.jpg);
    /* Dark background color */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f2f2f2;
    /* Light text color */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;


}

header {
    background-color: #181818;
    /* Dark gray header background color */
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #FFC904;
    /* Fun, orange link color */
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}

.logo {
    text-align: center;
    /* padding: 20px; */
}

.logo h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    background: linear-gradient(90deg, #f06, #6f0, #06f, #f06);
    background-clip: text;
    color: whitesmoke;
    background-size: 400%;
    animation: neonRainbow 10s linear infinite;
    width: 100vw;
    /* color: #BA9B37; */
}

@keyframes neonRainbow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/* Style the links in the header */
nav a:hover {
    text-decoration: underline;
}

main {
    width: 60%;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 800px;
    background: black;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.username {
    margin-top: 10px;
    color: #888;
}

.card-bp {
    position: relative;
}

.card-bp a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-bp:hover,
#new-post-btn:hover,
#new-comment-btn:hover,
#new-post-btn:hover,
#upload-button:hover {
    background: black;
    color: #FFC904;
}

.card ul {
    list-style-type: none;
}

.card ul li {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2% 0;
    padding: 1%;
}

#new-post-bt,
#new-comment-btn,
#new-post-btn,
#upload-button {
    width: 100%;
    padding: 10px;
    background-color: #FFC904;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

#new-post-form {
    display: flex;
    flex-direction: column;
}

#new-post-form input {
    display: flex;
}

.delete-button,
.edit-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}